%p#notice= notice

%p
	%b= @notice.title
%p
	%b Content:
	= @notice.content
%p
	%b Category:
	= @notice.category.name
%p
	= image_tag @notice.image.url(:tumb)

= link_to 'Edit', edit_notice_path(@notice)
\|
= link_to 'Back', notices_path
